<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Tienda de mascotas - Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    </h:head>
    <h:body>
        <ui:include src="navbar.xhtml"/>

        <div class="container-fluid my-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <h:form id="frmAgregarProducto">
                                <h:panelGrid id="pgAgregarProducto">
                                    <h:form id="selProveedor">
                                        <div class="container-fluid">
                                            <div class="d-flex justify-content-around">
                                                <p:dataTable id="seleccionarProveedor" var="proveedor" value="#{AlmacenBean.listadoProveedores}" selectionMode="single"
                                                             selection="#{AlmacenBean.provSel}" rowKey="#{proveedor.idProveedor}">
                                                    <p:ajax event="rowSelect" listener="#{AlmacenBean.onRowSelectProv}"/>
                                                    <p:ajax event="rowUnselect" listener="#{AlmacenBean.onRowUnselectProv}"/>
                                                    <f:facet name="header">Seleccionar proveedor</f:facet>
                                                    <p:column headerText="ID">
                                                        <h:outputText value="#{proveedor.idProveedor}" />
                                                    </p:column>
                                                    <p:column headerText="Nombre">
                                                        <h:outputText value="#{proveedor.nombre}" />
                                                    </p:column>
                                                </p:dataTable>
                                                <p:dataTable id="seleccionarTipoProducto" var="tipoProducto" value="#{AlmacenBean.listadoTiposProd}" selectionMode="single"
                                                             selection="#{AlmacenBean.tipoProdSel}" rowKey="#{tipoProducto.idTipoProducto}">
                                                    <p:ajax event="rowSelect" listener="#{AlmacenBean.onRowSelectTipo}"/>
                                                    <p:ajax event="rowUnselect" listener="#{AlmacenBean.onRowUnselectTipo}"/>
                                                    <f:facet name="header">Seleccionar tipo de producto</f:facet>
                                                    <p:column headerText="ID">
                                                        <h:outputText value="#{tipoProducto.idTipoProducto}" />
                                                    </p:column>
                                                    <p:column headerText="Nombre">
                                                        <h:outputText value="#{tipoProducto.tipoProducto}" />
                                                    </p:column>
                                                </p:dataTable>
                                                <p:dataTable id="seleccionarPrsentacion" var="presentacion" value="#{AlmacenBean.listadoPresentacion}" selectionMode="single"
                                                             selection="#{AlmacenBean.presenSel}" rowKey="#{presentacion.idPresentacion}">
                                                    <p:ajax event="rowSelect" listener="#{AlmacenBean.onRowSelectPresentacion}"/>
                                                    <p:ajax event="rowUnselect" listener="#{AlmacenBean.onRowUnselectPresentacion}"/>
                                                    <f:facet name="header">Seleccionar presentación</f:facet>
                                                    <p:column headerText="ID">
                                                        <h:outputText value="#{presentacion.idPresentacion}" />
                                                    </p:column>
                                                    <p:column headerText="Nombre">
                                                        <h:outputText value="#{presentacion.nombrePre}" />
                                                    </p:column>
                                                </p:dataTable> 
                                            </div>

                                        </div>

                                    </h:form>

                                    <p:outputLabel value="Fecha de registro." for="calRegistro"/>
                                    <p:calendar value="#{AlmacenBean.almacen.fechaIngreso}" id="calRegistro" required="true"/>

                                    <p:outputLabel value="Status." for="txtStatus"/>
                                    <p:inputText value="#{AlmacenBean.almacen.status}" id="txtStatus" required="true"/>

                                    <p:outputLabel value="Nombre." for="txtNombre"/>
                                    <p:inputText value="#{AlmacenBean.almacen.nombre}" id="txtNombre" required="true"/>

                                    <p:outputLabel value="Descripción." for="txtDescripción"/>
                                    <p:inputText value="#{AlmacenBean.almacen.descripcion}" id="txtDescripción" required="true"/>

                                    <p:outputLabel value="Marca." for="txtMarca"/>
                                    <p:inputText value="#{AlmacenBean.almacen.marca}" id="txtMarca" required="true"/>

                                    <p:outputLabel value="Stock." for="txtStock"/>
                                    <p:inputText value="#{AlmacenBean.almacenHasPresentacion.stock}" id="txtStock" required="true"/>

                                    <p:outputLabel value="Precio de compra." for="txtPrecioCompra"/>
                                    <p:inputText value="#{AlmacenBean.almacenHasPresentacion.precioCompra}" id="txtPrecioCompra" required="true"/>

                                    <p:outputLabel value="Precio de venta." for="txtPrecioVenta"/>
                                    <p:inputText value="#{AlmacenBean.almacenHasPresentacion.precioVenta}" id="txtPrecioVenta" required="true"/>

                                </h:panelGrid>
                                <div class="row mt-3"><p:commandButton actionListener="#{AlmacenBean.registrarProducto()}" value="Registrar" 
                                                                       update="listadoProductos:ProductosDataTable, pgAgregarProducto"/></div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">

            </div>
            <h:form id="listadoProductos">
                <p:dataTable id="ProductosDataTable" scrollable="true" value="#{AlmacenBean.listadoProductos}" var="producto" editable="true" 
                             rowKey="#{producto.almacenidProducto.idProducto}" selectionMode="single" selection="#{AlmacenBean.almacenHasPresentacion}">
                    <f:facet name="header">
                        Inventario en almacén
                    </f:facet>
                    <p:column headerText="Modificar" width="100">
                        <p:rowEditor/>
                    </p:column>
                    <p:ajax event="rowEdit" listener="#{AlmacenBean.editListener}"></p:ajax>
                    <p:column headerText="ID Producto" width="80">
                        <h:outputText value="#{producto.almacenidProducto.idProducto}"/>
                    </p:column>
                    <p:column headerText="Nombre" width="150">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.almacenidProducto.nombre}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{producto.almacenidProducto.nombre}"></p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Descripcion" width="200">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.almacenidProducto.descripcion}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{producto.almacenidProducto.descripcion}"></p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Presentacion" width="120">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.presentacionidPresentacion.nombrePre}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu id="cboPresentacion" value="#{producto.presentacionidPresentacion.nombrePre}" style="width:100%">
                                    <f:selectItems value="#{AlmacenBean.listadoPresentacion}" var="presentacionItem"
                                                   itemLabel="#{presentacionItem.nombrePre}" itemValue="#{presentacionItem}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Marca" width="100">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.almacenidProducto.marca}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{producto.almacenidProducto.marca}"></p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <!--<p:column headerText="Tipo de Producto" width="120">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.almacenidProducto.tipoProductoidProducto.tipoProducto}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu id="cboTipoProducto" value="#{producto.almacenidProducto.tipoProductoidProducto.tipoProducto}" style="width:100%">
                                    <f:selectItems value="#{AlmacenBean.listadoTiposProd}" var="tipoItem"
                                                   itemLabel="#{tipoItem.tipoProducto}" itemValue="#{tipoItem}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>-->
                    <p:column headerText="Stock" width="70">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.stock}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{producto.stock}"></p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Proveedor" width="120">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.almacenidProducto.proveedoridProveedor.nombre}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu id="cboProveedor" value="#{producto.almacenidProducto.proveedoridProveedor.nombre}" style="width:100%">
                                    <f:selectItems value="#{AlmacenBean.listadoProveedores}" var="proveedorItem"
                                                   itemLabel="#{proveedorItem.nombre}" itemValue="#{proveedorItem}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Precio de compra" width="100">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.precioCompra}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{producto.precioCompra}"></p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Precio de venta" width="100">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.precioVenta}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{producto.precioVenta}"></p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Fecha de ingreso" width="100">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.almacenidProducto.fechaIngreso}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:calendar value="#{producto.almacenidProducto.fechaIngreso}" id="calRegistro" required="true"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Status" width="50">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{producto.almacenidProducto.status}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{producto.almacenidProducto.status}"></p:inputText>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                </p:dataTable>
            </h:form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    </h:body>
</html>
