<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Royal-Mascot Trabajadores</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
    </h:head>
    <h:body style="margin: 0;padding: 0;background-image: url(recursos/img/FondoT.jpeg);
    background-position: center;">
        <ui:include src="navbar.xhtml"/>

        <div class="container-fluid my-5">
            <!-- Mensaje General -->
            <p:growl id="mensaje" severity="info, fatal, warn" showDetail="true"/>
            <div class="container-fluid">
                <!-- Titulos -->
                <div class="row">
                    <div class="col-md-4 text-center mb-3">
                        <h3 style="font-weight: bold;color: #013531;font-family: Georgia;font-style: italic;text-shadow: 5px 5px #D3D3D3">
                            Búsqueda de trabajador</h3>
                    </div>
                    <div class="col-md-8 text-center">
                        <h3 style="font-weight: bold;color: #013531;font-family: Georgia;font-style: italic;text-shadow: 5px 5px #D3D3D3">
                            Agregar trabajador</h3>
                    </div>
                </div>
                <div class="row">
                    <!-- buscarPorID -->
                    <div class="col-md-4">                        
                        <h:form id="frmbuscar">    
                            <div class="container-fluid text-center">
                                <h:panelGrid id="pgBuscar" columns="3">                                
                                    <p:outputLabel style="color: #013531;font-weight: bold" value="Id" for="txtBuscarId"/>
                                    <p:inputMask mask="9?999" slotChar="" value="#{VendedorBean.vendedor.idVendedor}" id="txtBuscarId" required="true"/>                                  
                                    <p:commandButton style="background: #90EE90;border-radius: 40px;box-shadow: 5px 5px	#D3D3D3"
                                                     value="Buscar" actionListener="#{VendedorBean.buscarVPorId()}" update="pgBuscar,frmDatos,mensaje"/>                                                       
                                </h:panelGrid>   
                            </div>  
                        </h:form>
                        <div class="mt-3 text-center">                                
                            <h:form id="frmDatos">
                                <p:panel rendered="#{not VendedorBean.rend}">
                                    <div class="row">
                                        <div class="col-md-4 text-center">                        
                                            <p:graphicImage cache="false" height="60%" width="60%" value="recursos/img/gatitoAma.png"/>
                                        </div>
                                        <div class="col-md-4 text-center">                        
                                            <p:graphicImage cache="false" height="60%" width="60%" value="recursos/img/gatitoBlanco.png"/>
                                        </div>
                                        <div class="col-md-4 text-center">                        
                                            <p:graphicImage cache="false" height="60%" width="60%" value="recursos/img/gatitoNegro.png"/>
                                        </div>
                                    </div>
                                    <h:panelGrid style="color: #013531;font-weight: bold" columns="2">
                                        <p:outputLabel value="Nombre: " for="olbNombre"/>
                                        <p:outputLabel style="font-style: italic" value="#{VendedorBean.persona.nombre}" id="olbNombre"/>

                                        <p:outputLabel value="Apellidos: " for="olbApellidos"/>
                                        <p:outputLabel style="font-style: italic" value="#{VendedorBean.persona.apellidos}" id="olbApellidos"/>

                                        <p:outputLabel value="Turno: " for="olbTurno"/>
                                        <p:outputLabel style="font-style: italic" value="#{VendedorBean.vendedor.turno}" id="olbTurno"/>

                                        <p:outputLabel value="Entrada: " for="olbHEntrada"/>
                                        <p:outputLabel style="font-style: italic" value="#{VendedorBean.vendedor.horaEntrada.hours}:#{VendedorBean.vendedor.horaEntrada.minutes}" id="olbHEntrada"/>  

                                        <p:outputLabel value="Salida: " for="olbHSalida"/>
                                        <p:outputLabel style="font-style: italic" value="#{VendedorBean.vendedor.horaSalida.hours}:#{VendedorBean.vendedor.horaSalida.minutes}" id="olbHSalida"/>                                                                                                                                  
                                        <p:outputLabel value="Correo: " for="olbCorreo"/>
                                        <p:outputLabel style="font-style: italic" value="#{VendedorBean.persona.correo}" id="olbCorreo"/>

                                        <p:outputLabel value="Contraseña: " for="olbContraseña"/>
                                        <p:outputLabel style="font-style: italic" value="#{VendedorBean.vendedor.contrasenaV}" id="olbContraseña"/>

                                        <p:outputLabel value="Status: " for="olbStatus"/>
                                        <p:outputLabel style="font-style: italic" value="#{VendedorBean.persona.status}" id="olbStatus"/>

                                        <p:outputLabel value="Registro: " for="olbFRegistro"/>
                                        <p:outputLabel style="font-style: italic" value="#{VendedorBean.persona.fechaRegistro.date}/#{VendedorBean.persona.fechaRegistro.month+1}/#{VendedorBean.persona.fechaRegistro.year-100}"  id="olbFRegistro"/>                                        
                                    </h:panelGrid>                                    
                                </p:panel>                                                                   
                            </h:form>                                
                        </div>                                                    
                    </div>
                    <!-- Agregar trabajador -->
                    <div class="col-md-8">
                        <div class="row">
                            <h:form id="frmAgregarVendedor">
                                <h:panelGrid id="pgAgregarVendedor" style="color: #013531;font-weight: bold" columns="4">
                                    <p:outputLabel value="Nombre(s)." for="txtNombre"/>
                                    <p:inputText value="#{VendedorBean.persona.nombre}" id="txtNombre" required="true"/>
                                    <p:outputLabel value="Apellidos(s).  " for="txtApellidos"/>
                                    <p:inputText value="#{VendedorBean.persona.apellidos}" id="txtApellidos" required="true"/>

                                    <p:outputLabel value="Correo Electrónico.  " for="txtCorreo"/>
                                    <p:inputText value="#{VendedorBean.persona.correo}" id="txtCorreo" required="true"/>

                                    <p:outputLabel value="Teléfono.  " for="txtTelefono"/>
                                    <p:inputMask mask="9?999999999" slotChar="" value="#{VendedorBean.persona.telefono}" id="txtTelefono" required="true"/>

                                    <p:outputLabel value="Domicilio.  " for="txtDomicilio"/>
                                    <p:inputText value="#{VendedorBean.persona.domicilio}" id="txtDomicilio" required="true"/>

                                    <p:outputLabel value="Fecha de Nacimiento.  " for="calNacimiento"/>
                                    <p:calendar navigator="true" mode="popup" value="#{VendedorBean.persona.fechaNacimiento}" id="calNacimiento" locale="es" required="true"/>

                                    <p:outputLabel value="Turno.   " for="sorTurno"/>
                                    <p:selectOneRadio id="sorTurno" value="#{VendedorBean.vendedor.turno}" required="true">
                                        <f:selectItem itemValue="Matutino" itemLabel="Matutino"/>
                                        <f:selectItem itemValue="Vespertino" itemLabel="Vespertino"/>
                                    </p:selectOneRadio>           

                                    <p:outputLabel value="Hora entrada.   " for="txtEntrada"/>
                                    <p:datePicker id="txtEntrada" value="#{VendedorBean.vendedor.horaEntrada}" timeOnly="true" 
                                                  pattern="HH:mm" required="true"/>

                                    <p:outputLabel value="Hora Salida.   " for="txtSalida"/>
                                    <p:datePicker id="txtSalida" value="#{VendedorBean.vendedor.horaSalida}" timeOnly="true" 
                                                  pattern="HH:mm" required="true"/>

                                    <p:outputLabel value="CURP.   " for="txtCurp"/>
                                    <p:inputText value="#{VendedorBean.vendedor.curpV}"  id="txtCurp" required="true"/>

                                    <p:outputLabel value="Contraseña.   " for="txtPass1"/>
                                    <p:inputText value="#{VendedorBean.vendedor.contrasenaV}" type="password" id="txtPass1" required="true"/>
                                </h:panelGrid>
                                <p:separator/>
                                <!--Botones AT-->
                                <div class="row text-center">
                                    <div class="col-md-12">
                                        <p:commandButton style="background: #90EE90;border-radius: 40px;box-shadow: 5px 5px	#D3D3D3"
                                                         actionListener="#{VendedorBean.registrarVendedor()}" value="Registrar" 
                                                         update=":listadoVendedores:VendedoresDataTable,pgAgregarVendedor,mensaje"/>                                                                      
                                    </div>                                    
                                </div>                                                                      
                            </h:form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ListaVendedores -->
            <div class="mt-5">        
                <h:form id="listadoVendedores">
                    <p:dataTable class="text-center" id="VendedoresDataTable" value="#{VendedorBean.listadoVendedores}" var="vendedor" editable="true" rowKey="#{vendedor.idVendedor}"
                                 selection="#{VendedorBean.vendedor}" selectionMode="single">
                        <f:facet name="header">
                            Listado de Vendedores
                        </f:facet>
                        <p:column headerText="ID"  style="width: 50px">
                            <h:outputText value="#{vendedor.idVendedor}"/>
                        </p:column>
                        <p:column headerText="Nombre">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{vendedor.personaidPersona.nombre}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText value="#{vendedor.personaidPersona.nombre}"></p:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Apellidos">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{vendedor.personaidPersona.apellidos}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText value="#{vendedor.personaidPersona.apellidos}"></p:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Turno">
                            <p:cellEditor>                      
                                <f:facet name="output">
                                    <h:outputText value="#{vendedor.turno}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:selectOneMenu value="#{vendedor.turno}">
                                        <f:selectItem itemValue="Matutino" itemLabel="Matutino"/>
                                        <f:selectItem itemValue="Vespertino" itemLabel="Vespertino"/>
                                    </p:selectOneMenu>                                    
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Hora Entrada" style="width: 90px">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <p:outputLabel value="#{vendedor.horaEntrada.hours}:#{vendedor.horaEntrada.minutes}"/>                                      
                                </f:facet>
                                <f:facet name="input">
                                    <p:datePicker style="text-align: left" size="1" value="#{vendedor.horaEntrada}" timeOnly="true" pattern="HH:mm"/>                                
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Hora Salida" style="width: 90px">
                            <p:cellEditor>
                                <f:facet name="output">  
                                    <p:outputLabel value="#{vendedor.horaSalida.hours}:#{vendedor.horaSalida.minutes}"/>                                      
                                </f:facet>
                                <f:facet name="input">
                                    <p:datePicker style="text-align: left" size="1" value="#{vendedor.horaSalida}" timeOnly="true" pattern="HH:mm"/>                                
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Correo" style="width: 225px">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{vendedor.personaidPersona.correo}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText value="#{vendedor.personaidPersona.correo}"></p:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Contraseña">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{vendedor.contrasenaV}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:inputText value="#{vendedor.contrasenaV}"></p:inputText>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Status" style="width: 75px">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{vendedor.personaidPersona.status}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <p:selectOneMenu value="#{vendedor.personaidPersona.status}">
                                        <f:selectItem itemValue="1" itemLabel="Activo"/>
                                        <f:selectItem itemValue="0" itemLabel="Inactivo"/>
                                    </p:selectOneMenu>                                     
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Fecha de Registro" style="width: 100px">
                            <p:outputLabel value="#{vendedor.personaidPersona.fechaRegistro.date}/#{vendedor.personaidPersona.fechaRegistro.month+1}/#{vendedor.personaidPersona.fechaRegistro.year-100}"/>                                                    
                        </p:column>
                        <p:column headerText="Edit" style="width: 50px">
                            <p:rowEditor/>
                        </p:column>
                        <p:ajax event="rowEdit" listener="#{VendedorBean.editListener}" update="mensaje"></p:ajax>
                    </p:dataTable>
                </h:form>
            </div>
            
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <h:outputScript library="js" name="spanishLocale.js"/>
    </h:body>
</html>
